*
{
  font-family: 'DM Sans', sans-serif;
font-family: 'VT323', monospace;

}
.welcome-container { 
    width: 100vw;
    height: 100vh;
    position: relative;
    background-image: url('https://wallpapers.com/images/hd/minecraft-pictures-hecufpmiadbualz4.jpg');
    background-size: cover;
    opacity: 0.85;
    position: relative;

  }
  
  .center {
    margin: 0;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .flat-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    border-radius: 5px;
    background-color:#ccc;
    border: #333 5px solid;
    position: absolute;
    left: 35%
  }


  .flat-button:hover {
    background-color:#ccc;
    border: #333 5px solid;
  }

  .rules-container{
    background-color:#ccc;
    border: #333 5px solid;
    opacity: 0.85;

  }
  h2{
    text-align: center;
  }
  ul {
    list-style-type: none;
  }